<div class='row'>

<div class='large-8'></div>
<h>This is the HomePage of my app</h>

<p>This app will use devise for authentication and Foundation for front-end UI</p>
                   <div class="large-4">
                     <p>This is the foundation layout</p>
                   </div>
</div>
