<% title "Menage me | Home page" %>

<%= render :partial => 'home/topNavigation'%>



  <div id="signup_form_div" title="Sign Up now for FREE !!!" style="display: none">
    <%= render partial: "devise/registrations/new" %>
  </div>








<script>
    setTimeout( function() {
        $( "#signup_form_div" ).dialog({ autoOpen: false });
        $("#sign_up_button").click(
           function() {     $( "#signup_form_div" ).dialog("open");
           }
        );
    }, 1000 );
</script>